.container{
  background-color: rgba(163, 163, 161, 0.267);
  width: 100%;
  height: 100vh;
  padding: 6rpx;
  box-sizing: border-box;
  position: relative;
  .image_on{
      display: flex;
      width: 100%;
      height: 100%;
      padding: 24rpx;
      box-sizing: border-box;
      justify-content: center;
      position: absolute;
      #image-on{
          display: flex;
          width: 90%;
          height: 100%;
          box-shadow: 4rpx 4rpx 4rpx 4rpx rgba(58, 56, 56, 0.247);
          margin-left: 24rpx;
          margin-right: 24rpx;
      }
  }
  .bottom_area{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      bottom: 0;
      width: 100%;
      height: 100rpx;
      .but-view{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 6rpx;
        width: 32%;
        font-size: 32rpx;
        height: 64rpx;
        background-color: rgba(240, 239, 232, 0.842);
        box-shadow: 4rpx 4rpx 4rpx 4rpx rgba(58, 56, 56, 0.4);
        border-radius: 24rpx;
        margin-left: 16rpx;

      }
     .but_input_link{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6rpx;
      box-sizing: border-box;
      width: 200rpx;
      font-size: 32rpx;
      height: 64rpx;
      background-color: rgb(232, 240, 240);
      box-shadow: 6rpx 6rpx 6rpx 6rpx rgba(58, 56, 56, 0.4);
      border-radius: 24rpx;
    }
    .camera-icon {
      width: 80rpx;
      height: 80rpx;
  }
  }
  // 右部试衣栏
  .right_area{
      position: fixed;
      right: 0;
      width: 200rpx;
      height: 85vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      white-space: nowrap;
      box-shadow: 6rpx 6rpx 6rpx 6rpx rgba(105, 99, 99, 0.205);
      .title{
          width: 100%;
          height: 60rpx;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1rpx solid rgba(53, 46, 45, 0.678);
          padding: 10rpx;
          box-sizing: border-box;
          background-color: rgba(255, 255, 255, 0.979);
          border-radius: 6rpx;
      }
      .checked_clothes{
          width: 100%;
          height: 100%;
          padding: 12rpx;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: rgb(255, 255, 255);
          border-radius: 6rpx;
          .scroll-view-item{
            width: 100%;
            height: 160rpx;
            margin-top: 16rpx;
            border-bottom: 2rpx solid rgba(0, 0, 0, 0.226);
          }
          .c_cloth{
            width: 100%;
            height: 140rpx;
          }
      }
      .right-but{
          width: 48rpx;
          height: 80rpx;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 6rpx;
          margin-right: 0rpx;
          background-color: rgb(255, 255, 255);
          padding: 6rpx;
          position: fixed;
          bottom: 0;
          .right-but-img{
              height: 100%;
          }
      }
      
      
  }
  .hide-right-container{
    width: 48rpx;
    height: 80rpx;
    position: fixed;
    right: 0;
    bottom: 8rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rpx;
    background-color: rgb(255, 255, 255);
    padding: 6rpx;
    .right-but{
        height: 100%;
        width: 100%;
        .right-but-img{
            width: 100%;
            height: 100%;
        }
    }
  }
  // 左部试衣栏
  .left_area{
    position: fixed;
    left: 0;
    width: 200rpx;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24rpx;
    white-space: nowrap;
    box-shadow: 6rpx 6rpx 6rpx 6rpx rgba(105, 99, 99, 0.205);
    .title{
        width: 100%;
        height: 60rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1rpx solid rgba(53, 46, 45, 0.678);
        padding: 10rpx;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        border-radius: 6rpx;
    }
    .checked_clothes{
        width: 100%;
        height: 100%;
        padding: 12rpx;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 6rpx;
        .scroll-view-item{
          width: 100%;
          height: 240rpx;
          margin-top: 16rpx;
          border-bottom: 2rpx solid rgba(0, 0, 0, 0.226);
        }
        .c_cloth{
          width: 100%;
          height: 100%;
        }
    }
    .left-but{
        width: 48rpx;
        height: 80rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6rpx;
        background-color: rgb(255, 255, 255);
        padding: 6rpx;
        position: fixed;
        bottom: 0;
        .left-but-img{
            height: 100%;
        }
    }
  }
  .hide-left-container{
    width: 48rpx;
    height: 80rpx;
    position: fixed;
    left: 0;
    bottom: 8rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rpx;
    background-color: rgb(245, 242, 238);
    padding: 6rpx;
    .left-but{
        height: 100%;
        width: 100%;
        .left-but-img{
            width: 100%;
            height: 100%;
        }
    }
  }
  .input-view-wrap{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      
    
  }
}
